/* CSS Document */

body{
	width: 900px;
	height: 760px;
	font-family: 'Microsoft Yahei';
	font-weight: lighter;
}

.vague{
	width: 800px;
	border: #000000 thin solid;
	padding-left: 50px;
}

.search{
	width: 800px;
	padding-left: 50px;
	padding-top: 10px;
}

.choice{
	width:800px;
	padding-left: 50px;
}

.txt{
	float:left;
	padding-top: 20px;
	padding-right: 50px;
	height: 60px;
}

.equipment{
	width: 800px;
	float:left;
	padding-left: 50px;
	height: 40px;
}

.equipment0{
	width:300px;
	float:left;
}

.show{
	float:left;
}

#find{
	margin-left: 170px;
	margin-top: 10px;
	float:left;
}

#data_txt{
	width: 50px;
	height: 20px;
}
.delete{
	width: 750px;
	text-align: center;
	border:1px solid #707070;
	border-collapse:collapse;
}

th{
	font-weight: lighter;
	padding-bottom: 20px;
	padding-top: 10px;
}

tr{
	border-bottom: 1px solid #c1c1c1;
}

td{
	font-weight: lighter;
	padding-bottom: 10px;
	padding-top: 10px;
}

button{
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
	border: solid 1px #707070;
	border-radius:2px;
	text-align: center;
}

.comment{
	float:left;
	width: auto;
	padding-left: 20px;
	margin-top: 20px;
}

.margin{
	padding-bottom: 10px;
}