/* CSS Document */

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select, iframe {
    margin: 0;
    padding: 0;
}

input{
	width: 40px;
}
table{
	margin-top: 10px;
}
.title{
	width:1270px;;
	list-style-type:none;
	text-align: center;
}

caption{
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.delete{
	width: 800px;
	text-align: center;
	border:1px solid #707070;
	border-collapse:collapse
}

th{
	font-weight: lighter;
	padding-bottom: 20px;
	padding-top: 10px;
}

tr{
	border-bottom: 1px solid #c1c1c1;
}

td{
	font-weight: lighter;
	padding-bottom: 20px;
	padding-top: 20px;
}

button{
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
	border: solid 1px #707070;
	border-radius:2px;
	text-align: center;
}