/* CSS Document */

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select, iframe {
    margin: 0;
    padding: 0;
}

input{
	width: 40px;
}
table{
	margin-top: 10px;
}
.title{
	width:1270px;;
	list-style-type:none;
	text-align: center;
}

caption{
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
