<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/css/loginstyle.css" />
</head>
<script type="text/javascript">
    function checkParent(){

        if(window.parent.length>0){
            window.parent.location="login.html";
        }
    }
</script>

<body onload="checkParent();">
<div class="main">
<form th:action="@{/login/}" method="post">
    <div>
        &nbsp;
        <span style="font-size: 12px;color: red" th:text="${error}"/>
    </div>
    <div class="username">
        username：
        <input name="name" type="text" placeholder="用户名"/>
    </div>
    <div class="password">
        password：
        <input name="password" type="password" placeholder="密码"/>
    </div>
    <div class="rememberme">
        remember me
    </div>
    <button type="submit">log in</button>
</form></div>
</body>
</html>