<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>order</title>
</head>
<body>
<div style="border-style: solid;border-width: 1px;width: 800px;height: 300px">
    <form th:action="@{/html/addnewroom}" method="post">
        <table>
            <tr>
                <td>会议室编号：</td>
                <td><input type="text" name="roomID"></td>
            </tr>
            <tr>
                <td>会议室名称：</td>
                <td><input type="text" name="roomName"></td>
            </tr>
            <tr>
                <td>会议室容量：</td>
                <td><input type="text" name="roomNum"></td>
            </tr>
            <tr>
                <td>投影仪数量：</td>
                <td><input type="text" name="tnum" placeholder="<10"></td>
            </tr>
            <tr>
                 <td>话筒数量：</td>
                 <td><input type="text" name="hnum" placeholder="<10"></td>
             </tr>
            <tr>
                 <td>网络通话数量：</td>
                 <td><input type="text" name="wnum" placeholder="<10"></td>
             </tr>

            <!--<tr th:each="equip : ${equipList}">
                  <td><input name="equip" type="checkbox" th:value="${equip.EID}" th:text="${equip.Ename}"></td>
            </tr> -->
            <tr>
            <td>
            <button style="cursor: pointer">增加</button>
</td>
</tr>
        </table>
    </form>
</div>
</body>
</html>