<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addstaff</title>
</head>
<body>
<div>
    工号：<input type="text"/>
    部门：
    <selet>
        <option>编辑部</option>
        <option>美工部</option>
    </selet>
    等级：
    <select>
        <option>1</option>
        <option>2</option>
    </select>
    <table>
        <caption>人员名单</caption>
        <tr>
            <th>工号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>部门</th>
            <th>职位</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>