<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addstaff</title>
    <link rel="stylesheet" href="/css/tablestyle.css" />
</head>
<body>
<!---
<div>
    工号：<input type="text"/>
    部门：
    <selet>
        <option>编辑部</option>
        <option>美工部</option>
    </selet>
    等级：
    <select>
        <option>1</option>
        <option>2</option>
    </select>-->
    <table class="delete">
        <tr>
            <th>工号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>部门</th>
            <th>职位</th>
        </tr>
        <tr>
            <td>a001</td>
            <td>刘志洪</td>
            <td>13078901366</td>
            <td>后勤部 </td>
            <td>普通职员</td>
        </tr>
        <tr>
            <td>a002</td>
            <td>张凉</td>
            <td>13078901366</td>
            <td>市场部</td>
            <td>普通职员</td>
        </tr>
        <tr>
            <td>a003</td>
            <td>刘元青</td>
            <td>13078901366</td>
            <td>行政部</td>
            <td>经理</td>
        </tr>
        <tr>
            <td>a004</td>
            <td>欧阳莹</td>
            <td>13078901366</td>
            <td>生产部</td>
            <td>组长</td>
        </tr>
        <tr>
            <td>a005</td>
            <td>武燕</td>
            <td>13078901366</td>
            <td>研发部</td>
            <td>组长</td>
        </tr>
        <tr>
            <td>a006</td>
            <td>陈辉</td>
            <td>13078901366</td>
            <td>研发部</td>
            <td>部长</td>
        </tr>
        <tr>
            <td>a007</td>
            <td>谢思阳</td>
            <td>13078901366</td>
            <td>市场部</td>
            <td>普通职员</td>
        </tr>
    </table>
<button style="float:right;margin-right: 190px;margin-top: 15px;padding-bottom: 5px;padding-top: 5px; cursor: pointer">添加</button>
<button style="float:right;margin-top: 15px;padding-bottom: 5px;padding-top: 5px; cursor: pointer">修改</button>
</div>
</body>
</html>