<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>无标题文档</title>
	<link rel="stylesheet" href="/css/book.css" />
</head>

<body>

<div class="search">
	<form th:action="@{/searchRoom}" method="post" id="searchform1">                <!----精确查找表单---->
		会议室编号：
		<input type="text" name="roomID"/>
		会议室地址：
		<input type="text" name="roomAddress"/>
		<button type="submit">精确查找</button>
	</form>
</div>

<form th:action="@{/search}" method="post" id="searchform2">                  <!-----条件查找表单----->
	<div class="choice">
		<div class="txt">
			<span id="data_txt">会议日期：</span><br>
			<input type="date" id="data" name="date"/>
		</div>
		<div class="txt">
			<span id="available_time_start_txt">开始占用时间：</span>
			<span id="available_time_end_txt">结束占用时间：</span><br>
			<input type="time" id="available_time_start" name="startTime"/>
			<input type="time" id="available_time_end" name="endTime"/>
		</div>
		<div class="txt">
			<span id="number_txt">参会人数：</span><br>
			<input type="number" id="number" name="num"/>
		</div>
	</div>
	<div class="equipment">
		<div class="equipment0">
			<table float="left">
				<td th:each="equip : ${equipList}">
					<input name="equip" type="checkbox" th:value="${equip.EID}" th:text="${equip.Ename}">
				</td>
			</table>
		</div>
		<!---<div class="show">
			<input name="显示已占用" type="checkbox" id="showall"/>显示已被预定的会议室
		</div>--->
		<button id="find" type="submit">查找</button>
	</div>
</form>

<div class="mytable">
	<table class="delete" width="100%">
		<tr>
			<th class="th1">会议室编号</th>
			<th class="th2">会议室地址</th>
			<th class="th3">空闲时间段</th>
			<th class="th4">容量</th>
			<th class="th5">设备</th>
			<th class="th6">状态</th>
		</tr>

		<tr th:each="room : ${roomList}">
			<td th:text="${room.RoomID}"/>
			<td th:text="${room.Raddress}"/>
			<!---<td th:text="${room.Rstarttime}"/>--->
			<td>08:00-22:00</td>
			<td th:text="${room.Rcapacity}"/>
			<td th:text="${room.equips}"/>
			<form th:action="@{/getRoom}" method="post">
				<td>
					<input hidden name="RoomID" th:value="${room.RoomID}"/>
					<button type="submit" onClick="page()">预定</button>
				</td>
			</form>
		</tr>

	</table>
	<br>
</div>
<script type="text/javascript">
	function page(){
		window.location.href="book2.html";
	}
</script>
</body>
</html>

