<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>
	
<body>
	<!--<img src="/img/myinfo.jpg" width="800px">-->
	<ul>
		<form th:action="@{/updateMobilePhone}" method="post">
			<li>姓名：<span th:text="${info.Sname}"/></li>
			<li>工号：<span th:text="${info.StaffID}"/></li>
			<li>性别：<span th:text="${info.Ssex}"/></li>
			<li>职位：<span th:text="${info.Spost}"/></li>
			<li>手机号:<input th:type="text" th:value="${info.Smobilenum}" name="num"/></li>
			<button>修改</button>
		</form>
	</ul>
</body>
</html>
