<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
</head>

<body>
<!--<img src="/img/myinfo.jpg" width="800px">-->
<form th:action="@{/updateMobilePhone}" method="post">
    <table>
        <tr>
            <td>姓名：</td>
            <td><span th:text="${info.Sname}"/></td>
        </tr>
        <tr>
            <td>工号：</td>
            <td><span th:text="${info.StaffID}"/></td>
        </tr>
        <tr>
            <td>性别：</td>
            <td><span th:text="${info.Ssex}"/></td>
        </tr>
        <tr>
            <td>职位：</td>
            <td><span th:text="${info.Spost}"/></td>
        </tr>
        <tr>
            <td>手机号：</td>
            <td><input th:type="text" th:value="${info.Smobilenum}" name="num"/></td>
        </tr>
        <tr>
            <td>
                <button>修改</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
