<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" href="../../static/css/mymeeting3.css" />
</head>

<body>
<table class="title">
		<caption>历史会议</caption>
		<tr>
			<th>会议编号</th>
			<th>会议室地址</th>
			<th>会议日期</th>
			<th>申请人</th>
			<th>会议名称</th>
			<th>主会人</th>
			<th>会议开始时间</th>
			<th>会议结束时间</th>
			<th>参会人数</th>
			<th>外宾人数</th>
			<th>是否签到</th>
			<th>参与情况</th>
		</tr>
		<tr th:each="conference : ${ConferenceList}">
			<td th:text="${conference.ConferenceID}"/>
			<td th:text="${conference.Raddress}"/>
			<td th:text="${conference.Cstarttime}"/>
			<td th:text="${conference.RSID}"/>
			<td th:text="${conference.Cname}"/>
			<td th:text="${conference.RSID}"/>
			<td th:text="${conference.starttime}"/>
			<td th:text="${conference.Cendtime}"/>
			<td th:text="${conference.Cnum}"/>
			<td th:text="${conference.numGuest}"/>
			<td th:text="${conference.sign}"/>
			<td th:text="${conference.state}"/>
		</tr>
	</table>
</body>
</html>
