<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" href="/css/mymeeting3.css" />
</head>

<body>

<table class="delete">
		<caption>历史会议</caption>
		<tr>
			<th>日期</th>
			<th>时间</th>
			<th>会议室</th>
			<th>地址</th>
			<th>主题</th>
			<th>申请人</th>
			<th>到会情况</th>
		</tr>
		<tr th:each="conference : ${ConferenceList}">
			<td th:text="${conference.Cstarttime}"/>
			<td th:text="${conference.time}"/>
			<td th:text="${conference.RoomID}"/>
			<td th:text="${conference.Raddress}"/>
			<td th:text="${conference.Cname}"/>
			<td th:text="${conference.RSID}"/>
			<td th:text="${conference.state}"/>
		</tr>
	</table>
</body>
</html>
