<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="/jquery_3.3.1_min.js" th:src="@{/jquery.min.js}"></script>
<link rel="stylesheet" href="../../static/css/mymeeting1.css" />
</head>

<body>
	<table class="title">
		<caption>已预订会议室</caption>
		<tr>
			<th>会议室编号</th>
			<th>会议编号</th>
			<th>会议室地址</th>
			<th>会议室容量</th>
			<th>会议日期</th>
			<th>会议室占用时间</th>
			<th>会议室设备</th>
			<th>申请人</th>
			<th>会议名称</th>
			<th>主会人</th>
			<th>会议开始时间</th>
			<th>会议结束时间</th>
			<th>参会人数</th>
			<th>参会人</th>
			<th>外宾人数</th>
			<th>是否签到</th>
			<th>签到开始时间</th>
		</tr>
		<tr id="001" th:each="meeting : ${meetingList}">
			<td id="001_1" th:text="${meeting.RoomID}" />
			<td id="001_2" th:text="${meeting.ConferenID}"/>
			<input hidden th:value="${meeting.ConferenID}" id="001_28"/>
			<td id="001_3" th:text="${meeting.Raddress}"/>
			<td id="001_4" th:text="${meeting.Rcapacity}"/>
			<td id="001_5" th:text="${meeting.Cstarttime}"/>
			<input hidden th:value="${meeting.Cstarttime}" id="001_27"/>
			<td id="001_6">9:00-10:30</td>
			<td id="001_7">投影仪</td>
			<td id="001_8" th:text="${meeting.RSID}"/>
			<td id="001_9" th:text="${meeting.Cname}"/>
			<td id="001_10" th:text="${meeting.MSID}"/>
			<td id="001_11" th:text="${meeting.starttime}"/>
			<td id="001_12" th:text="${meeting.Cendtime}"/>
			<td id="001_13" th:text="${meeting.Cnum}"/>
			<td id="001_14"><span id ="001_participant">白玉婷</span><button id="add" onClick="add('001')">添加</button></td>
			<td id="001_15" th:text="${meeting.numGuest}"/>
			<td id="001_16" th:text="${meeting.sign}"/>
			<td id="001_17" th:text="${meeting.Signtime}"/>
			<td id="001_18"><button id="001_19" onClick="reset('001')">编辑</button></td>

		</tr>
	</table>
	<br>
	//此列表中会议名称至签到开始时间为可编辑字段，其余为不可编辑字段，点击按钮即可编辑。
	//参会人数不可编辑，添加参会人和外宾人数时更新参会人数。
	//会议编号：如果申请成功，由系统分配
	
<script>
	function reset(id){
		if(document.getElementById(id.toString()+"_19").innerHTML=="编辑")
			{
				document.getElementById(id.toString()+"_19").innerHTML="确认";
			}
		else
			{
				document.getElementById(id.toString()+"_19").innerHTML="编辑";
				$("#001_19").click(function () {
					$.ajax({
						type : "POST",
						url : "/edit",
						data : {
							"start" : $("#001_27").val(),
							"conferenceID" : $("#001_28").val(),
							"Cname" : $("#001_29").val(),
							"RSID" : $("#001_30").val(),
							"Cstarttime" : $("#001_31").val(),
							"Cendtime" : $("#001_32").val(),
							"numGust" : $("#001_35").val(),
							"Signtime" : $("#001_37").val()
						},
						dataType : "json",
						success : function(data) {
						}
					});
				});
				document.getElementById(id.toString()+"form").submit();
			}
		for(var i=9;i<18;i++)
		{
			if(i!=14&&i!=13)
			{
				var n = document.getElementById(id.toString()+"_"+ i.toString());
				if (document.getElementById(id.toString()+"_19").innerHTML=="编辑")
				{
					n.innerHTML = n.childNodes[0].value;
					setall(id);

				}
				else
				{
					/*switch(i)
					{
						case 9:
							n.innerHTML = "<input type='text' name=Cname value='" + document.getElementById(id.toString()+"_"+ i.toString()).innerHTML + "' />";
							alert(n.innerHTML);
							break;
						case 10:
							n.innerHTML = "<input type='text' name=MSID value='" + document.getElementById(id.toString()+"_"+ i.toString()).innerHTML + "' />";
							break;
						case 11:
							n.innerHTML = "<input type='text' name=starttime value='" + document.getElementById(id.toString()+"_"+ i.toString()).innerHTML + "' />";
							break;
						case 12:
							n.innerHTML = "<input type='text' name=Cendtime value='" + document.getElementById(id.toString()+"_"+ i.toString()).innerHTML + "' />";
							break;
						case 15:
							n.innerHTML = "<input type='text' name=numGuest value='" + document.getElementById(id.toString()+"_"+ i.toString()).innerHTML + "' />";
							break;
						case 16:
							n.innerHTML = "<input type='text' name=sign value='" + document.getElementById(id.toString()+"_"+ i.toString()).innerHTML + "' />";
							break;
						case 17:
							n.innerHTML = "<input type='text' name=Signtime value='" + document.getElementById(id.toString()+"_"+ i.toString()).innerHTML + "' />";
							break;
					}*/

					n.innerHTML = "<input type='text' id='"+id.toString()+"_"+(i+20).toString()+"' value='" + document.getElementById(id.toString()+"_"+ i.toString()).innerHTML + "' />";
				}
			}
		}
	}
	
	function add(id){
		var n = document.getElementById(id.toString()+"_participant");
		if (n.childNodes[0].value)
		{
			n.innerHTML = n.childNodes[0].value;
			setall(id);
		}
		else
			n.innerHTML = "<input type='text' value='" + document.getElementById(id.toString()+"_participant").innerHTML + "' />";
	}
	
	function setall(id)
	{
		var n = document.getElementById(id.toString()+"_13");
		var str = document.getElementById(id.toString()+"_participant").innerHTML;
		var people = str.toString().split(",")
		n.innerHTML = people.length + parseInt(document.getElementById(id.toString()+"_15").innerHTML);
	}
	
$(document).ready(function(){
  $("button").click(function(){
    $("p").hide();
  });
});
</script>
</body>
</html>
