<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
	<div>
	<form action="../ " method="post">
		<label>人事等级对应：</label><br>
		会议申请等级   职位<br>
		1:  <select name="职位">
			<option value="boss">boss</option>
			<option value="员工">员工</option>
		</select><br>
		2:  <select name="职位">
			<option value="boss">boss</option>
			<option value="员工">员工</option>
		</select><br>
		<input type="submit" value="确认" />
		<input type="reset" value="重置" />
	</form>
	</div>
</body>
</html>
